.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.agenda {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

.intro-text a {
  color: #ffffff;
  font-weight: 600;
}

.intro-text a:hover {
  color: inherit;
  text-decoration: underline;
}
